################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ipynb_checkpoints
/.vs
/Custom Models, Layers, and Loss Functions with TensorFlow/.ipynb_checkpoints
/Custom Models, Layers, and Loss Functions with TensorFlow/__pycache__
/Custom Models, Layers, and Loss Functions with TensorFlow/.vs
/Custom Models, Layers, and Loss Functions with TensorFlow/faces
/Custom Models, Layers, and Loss Functions with TensorFlow/my_face
